.signuppagebody {
    background-image: url('../../../../public/online_tool_2@2x.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.signuppagebody::after {
    position: absolute;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    bottom: 0 ;
    content: '';
    background: #000;
    opacity: 0.8;
  
}
.logoutcard {
    border-radius: unset;
}
.logoimg {
    width: 150px;
    height: 70px;
    z-index: 1000 !important;
    margin-top: 40px;
    }
.logoutform {
    margin-bottom: 1rem !important;
    text-align: left;
}

.pswformcontrol {
    border-radius: unset;
}

.emailformcontrol {
    color: #000;
    border-radius: unset;
}
.submitbtn {
    background: #646363 !important;
    
    border-radius: unset;
    box-shadow: none !important;
    font-size: 15px;
    text-transform: uppercase;
    height: 50px;
    padding-left: 1rem !important;  
    padding-right: 1rem !important;
}