.signuppagebody {
    background-image: url('../../../../public/bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 657px;
}
.signuppagebody::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: 0.3;
  
}
.signinpagebody::after {
    position: absolute;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    bottom: 0 ;
    content: '';
    background: #000;
    opacity: 0.3;
}
.emailformcontrol {
    color: white !important;
}
.submitbtn {
    background: #fbceb5 !important;
    border: 1px solid #fbceb5 !important;
    color: #000 !important;
    border-radius: 40px;
    box-shadow: none !important;
    font-size: 15px;
    text-transform: uppercase;
    height: 50px;
    padding-left: 1rem !important;  
    padding-right: 1rem !important;

}