.pagebody {
    background-image: url('../../../public/online_tool_2@2x.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   
}

.pagebody::after {
    position: absolute;
    top: 0 ;
    left: 0 ;
    right: 0 ;
    bottom: 0 ;
    content: '';
    background: #000;
    opacity: 0.8;
}
.mainbody {
    display:flex;
    height: 100vh;
    z-index:10;
    align-items: center;
    justify-content: center;
}
.maincard {
    border-radius: unset;
    z-index:20;
    border-top:7px solid #9f8d37;
    width:400px;
}
.logocontent {
    margin:auto;
}
.logoimg {
    width: 150px;
    height: 70px;
    z-index: 1000 !important;
    margin-top: 40px;
    }
.cardbody {
    margin-top:10px;
}
.cardtitle {
    text-align: center;
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-size: 1.75rem;
}

.cardform {
    margin-bottom: 1rem !important;
    text-align: left;
}
.formcontrol {
    border-radius: unset;
    color: #000;
    height: 50px;
    color: black;
    border: 1px solid #9f8d37;
    background: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.submitbtn {
    background: #646363 !important;
    border-radius: unset;
    box-shadow: none !important;
    font-size: 15px;
    text-transform: uppercase;
    height: 50px;
    padding-left: 1rem !important;  
    padding-right: 1rem !important;
}

.signuplink {
    text-decoration:none; 
    color:#934036;
    width:150px;
    margin:auto;
}

.extracontent {
    position: relative;
}

.remcheck {
    color:grey;
}
    
.fgpscontent {
    position:absolute;
    right:4px;
    top:0px;
    color:grey;
}

.fgpslink {
    text-decoration:none;
     width:150px;
     color:grey;
}
